body{
    height: 100vh;
}
.grid-container{
    height: 100%;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px auto 50px;
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "m m m c c c c c c c c c" 
    "f f f f f f f f f f f f";
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.header{
    background-color: rgb(203, 59, 19);
    color: #fff;
    grid-area: h;
}

.menu{
    background-color: #109ac4;
    color: #000000;
    grid-area: m;

}
.content{
    background-color: aliceblue;
    grid-area: c;

}
.footer{
    background-color: #000000;
    color: #fff;
    grid-area: f;

}

.box-container{
    height: 80vh;
    color: #ffffff;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    grid-template-rows: repeat(1,1fr);
    grid-auto-rows: 1fr;
}

.box-container > div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.box-container > div:nth-child(1n){
    background-color: #109ac4;
}
.box-container > div:nth-child(2n){
    background-color: aquamarine;
}
.box-container > div:nth-child(3n){
    background-color: rgb(170, 13, 128);
}
.box-container > div:nth-child(4n){
    background-color: rgb(29, 183, 12);
}